<!--Apertura card "Acerca de mí"--> 
<div class="card border-secondary mb-3" style="max-width: 35rem;">
  <div class="card-body">
  <h2>Acerca de mí</h2>
  <h6 class="acerca">
  Soy una entusiasta de la tecnología que disfruta desarrollando
  páginas web, el proceso de aprendizaje y la resolución de problemas.
  Mis objetivos son convertirme en una programadora web full stack y formar parte
  de un equipo de trabajo que desarrolle productos geniales. 
  Mi interés en el mundo IT empezó en 2022 cuando decidí aprender
  de manera autodidacta Desarrollo Web y Diseño UX a través de cursos online. 
  Estos son mis primeros pasos en un camino que no tiene techo ni tampoco límites😀
    </h6>
  </div>
  </div>
  <!--Cierre card "Acerca de mí"--> 
  <br>