<h1>{{title}}</h1>
 <!--este "class" es para que el botón "login" esté a la derecha-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  
    <button type="button" class="btn btn-outline-dark">Login</button>
  </div><br> 
  
  <!--Barra de links--> 
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <ul class="navbar-nav" style="font-size: 0.5cm;">
      <li class="nav-item">
        <a class="nav-link active" href="#">Acerca de mí</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Trabajo</a></li>
        <li class="nav-item">
          <a class="nav-link active" href="#">CV</a></li>
    </ul>
  </nav>
  
  
  <!--Banner--> 
  <div class="banner">
  <img 
  [src]="miPortfolio.backImage" alt="banner" height="300" style="width:100%"> 
      
  <!--Mi foto de perfil-->
  <div class="perfil">  
    <img 
  [src]="miPortfolio.image" class="rounded-circle" title="Esta soy yo" alt="mi foto" width="200" height="200">
        </div> 
  </div>
  
  
      
     <br>
   
  
  <h1 style="color:black;"><b> {{miPortfolio.name}} </b></h1>
  <h3>{{miPortfolio.position}}</h3>
  <h5>{{miPortfolio.ubication}}</h5>
  
  <!--Botones--> 
  
  <!--Este href #contacto linkea con el "id" del footer "Contactame"--> 
  <a href="#contacto"><button type="button" class="btn btn-link">Información de contacto</button></a><br>
  
  
  
  <div><button type="button" class="btn btn-info">Tengo interés en</button>
  <button type="button" class="btn">Añadir sección</button>
  <button type="button" class="btn">Más</button></div><br>