<app-encabezado></app-encabezado>

<!--Inicio barra de navegación vertical-->     
<ul class="nav flex-column">
<!--Fin de barra de navegación vertical-->     

<app-acerca-de></app-acerca-de>

<!--Inicio card "Experiencia laboral"--> 
<div class="card" style="max-width: 35rem;">

<div class="card-body">     
<h3>Experiencia laboral</h3>

    <div> 
<img src="./assets/clarinlogo.png" class="rounded-circle" title="Clarín" alt="logo Clarín" width="120" height="60"></div>
    
    <ul type="disc">
<li><h5>Analista de Procesos y Calidad</h5></li>
    <p>Agosto 2022-Actualidad</p>

    <li><h5>Analista de Back Office</h5></li>
    <p>Julio 2018-Agosto 2022</p>
    </ul>
  </div>
</div>
<!--Fin card "Experiencia laboral"--> 
<br>

<!--Inicio card "Formación académica"--> 
<div class="card" style="max-width: 35rem;">
  <div class="card-body">
    <h3>Formación académica</h3> <br>
    

    <div><img src="./assets/logogoogle.png" class="rounded-circle" title="Google" alt="logo Google" width="90" height="80"></div>
    
    <ul type="disc">
    <li><h5>Diseño UX Jr.</h5></li>
    <p>Junio 2022-Actualidad</p> 

<div><img src= "./assets/logoargprog.png" alt="logo Argentina Programa" title="Argentina Programa" width="110" height="60"></div><br>
    
    <li><h5>Programación Web Full Stack Jr.</h5></li>
    <p>Febrero 2022-Actualidad</p>

<div><img src="./assets/ubalogo.png" class="rounded-circle" alt="logo UBA" title="UBA" width="105" height="100"></div>

    <li><h5>Licenciatura en Comunicación</h5></li>
    <p>Tesina en proceso</p>
    </ul>
</div>
</div>
<br>

<!--Fin card "Experiencia laboral"--> 

<section>       
<h3>Competencias</h3> <br>


<div class="progress" style="height:40px; background: rgb(109,243,247);background: linear-gradient(312deg, rgba(109,243,247,1) 19%, rgba(243,205,183,1) 73%);">
<div class="progress-bar progress-bar-striped" style="width:70%;height:40px;color:black;"><b>Inglés B2 - 70%</b></div>
</div><br>

<div class="progress" style="height:40px">
<div class="progress-bar bg-info progress-bar-striped" style="width:100%;height:40px;color:black;"><b>HTML - 100%</b></div>
</div><br>

<div class="progress" style="height:40px; background: rgb(109,243,247);background: linear-gradient(312deg, rgba(109,243,247,1) 19%, rgba(243,205,183,1) 73%);">
<div class="progress-bar bg-success progress-bar-striped" style="width:50%;height:40px;color:black;"><b>CSS - 50%</b></div>
</div><br>
<div class="progress" style="height:40px;">
<div class="progress-bar bg-warning progress-bar-striped" style="width:100%;height:40px;color:black;"><b>Bootstrap - 100%</b></div>
</div><br>
<div class="progress" style="height:40px; background: rgb(109,243,247);background: linear-gradient(312deg, rgba(109,243,247,1) 19%, rgba(243,205,183,1) 73%);">
<div class="progress-bar bg-danger progress-bar-striped" style="width:80%;height:40px;color:black;"><b>Git - 80%</b></div>
</div><br>
</section>
    
