<!--Inicio card "Experiencia laboral"--> 
<div class="card" style="max-width: 35rem;">

    <div class="card-body">     
    <h3>Experiencia laboral</h3>
    
        <div> 
    <img src="./assets/clarinlogo.png" class="rounded-circle" title="Clarín" alt="logo Clarín" width="120" height="60"></div>
        
        <ul type="disc">
    <li><h5>Analista de Procesos y Calidad</h5></li>
        <p>Agosto 2022-Actualidad</p>
    
        <li><h5>Analista de Back Office</h5></li>
        <p>Julio 2018-Agosto 2022</p>
        </ul>
      </div>
    </div>
    <!--Fin card "Experiencia laboral"--> 
    <br>
