<!--Inicio card "Formación académica"--> 
<div class="card" style="max-width: 35rem;">
    <div class="card-body">
      <h3>Formación académica</h3> <br>
      
  
      <div><img src="./assets/logogoogle.png" class="rounded-circle" title="Google" alt="logo Google" width="90" height="80"></div>
      
      <ul type="disc">
      <li><h5>Diseño UX Jr.</h5></li>
      <p>Junio 2022-Actualidad</p> 
  
  <div><img src= "./assets/logoargprog.png" alt="logo Argentina Programa" title="Argentina Programa" width="110" height="60"></div><br>
      
      <li><h5>Programación Web Full Stack Jr.</h5></li>
      <p>Febrero 2022-Actualidad</p>
  
  <div><img src="./assets/ubalogo.png" class="rounded-circle" alt="logo UBA" title="UBA" width="105" height="100"></div>
  
      <li><h5>Licenciatura en Comunicación</h5></li>
      <p>Tesina en proceso</p>
      </ul>
  </div>
  </div>
  <br>
  
  <!--Fin card "Experiencia laboral"--> 
